html
  head
    title= title
  body
    h1= title
    form(method="POST")
      div
        label(for="title") Title
        p
          input(type="text", name="title")#title
      div
        label(for="content")
        p
          textarea(name="content", cols="30", rows="10")#content
      div
        input(type="submit", value="Post")
      if flash
        p= flash.msg
    div
      a(href="/") Go Home