html
  head
    title= title
  body
    h1= title
    if user && user.accountID
      h2= user.accountID
      p
        a(href="/logout") Logout page
    else
      p
        a(href="/login") Login page
